<!-- ./tcc_eco_copos/templates/about-us.html -->

{% extends "base.html" %}
{% load wagtailimages_tags %}

{% block p2_active %}active{% endblock %}

{% block content %}
    <div class="timeline timeline-margin">
        <div class="timeline-item">
            <div class="timeline-left"><a class="timeline-icon" href="#"></a></div>
            <div class="timeline-content">
                <div class="tile">
                    <div class="tile-content">
                        <p class="tile-subtitle">Novembro 2019</p>
                        <p class="tile-title">Começo do desenvolvimento</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="timeline-item">
            <div class="timeline-left">
                <a class="timeline-icon icon-lg" href="#">
                    <i class="icon icon-check"></i>
                </a>
            </div>
            <div class="timeline-content">
                <div class="tile">
                    <div class="tile-content">
                        <p class="tile-subtitle">Janeiro 2020</p>
                        <p class="tile-title">Estrutura básica termida</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="timeline-item">
            <div class="timeline-left">
                <a class="timeline-icon icon-lg" href="#">
                    <i class="icon icon-check"></i>
                </a>
            </div>
            <div class="timeline-content">
                <div class="tile">
                    <div class="tile-content">
                        <p class="tile-subtitle">Fevereiro 2020</p>
                        <p class="tile-title">Estrutura de vendas termida</p>
                        <p class="tile-title">Estrutura de comentários e avaliações termida</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="timeline-item">
            <div class="timeline-left">
                <a class="timeline-icon icon-lg" href="#">
                    <i class="icon icon-stop"></i>
                </a>
            </div>
            <div class="timeline-content">
                <div class="tile">
                    <div class="tile-content">
                        <p class="tile-subtitle">Março 2020 - Abril 2020</p>
                        <p class="tile-title">Sem entregas</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="timeline-item">
            <div class="timeline-left">
                <a class="timeline-icon icon-lg" href="#">
                    <i class="icon icon-check"></i>
                </a>
            </div>
            <div class="timeline-content">
                <div class="tile">
                    <div class="tile-content">
                        <p class="tile-subtitle">Maio 2020</p>
                        <p class="tile-title">Ajustes finais</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="timeline-item">
            <div class="timeline-left">
                <a class="timeline-icon icon-lg" href="#">
                    <i class="icon icon-check"></i>
                </a>
            </div>
            <div class="timeline-content">
                <div class="tile">
                    <div class="tile-content">
                        <p class="tile-subtitle">Junho 2020</p>
                        <p class="tile-title">Apresentação</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
