<!-- ./tcc_eco_copos/templates/about-us.html -->

{% extends "base.html" %}
{% load wagtailimages_tags %}

{% block title %}Sobre Nós{% endblock %}

{% block p2_active %}active{% endblock %}

{% block content %}
    <h1>Um pouco mais sobre nós...</h1>

    <p>Somos um grupo de alunos da faculdade UNIP e desenvolvemos este site para o trabalho de conclusão de curso de Sistemas da Informação!</p>
    <p>Nossa ideia principal é dar visibilidade para o uso excessivo de copos descartáveis e solucionar este problema através da criação desse site de vendas de copos reutilizáveis.</p>
    <p>Gostariamos de agradacer à todos que nos ajudaram a chegar até aqui e contamos com vocês para tornar o mundo um lugar melhor!</p>

    <h2>Calendário de Desenvolvimento:</h2>
    <div class="timeline timeline-margin">
        <div class="timeline-item">
            <div class="timeline-left"><a class="timeline-icon" href="#"></a></div>
            <div class="timeline-content">
                <div class="tile">
                    <div class="tile-content">
                        <p class="tile-subtitle">Novembro 2019</p>
                        <p class="tile-title">Começo do desenvolvimento</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="timeline-item">
            <div class="timeline-left">
                <a class="timeline-icon icon-lg" href="#">
                    <i class="icon icon-check"></i>
                </a>
            </div>
            <div class="timeline-content">
                <div class="tile">
                    <div class="tile-content">
                        <p class="tile-subtitle">Janeiro 2020</p>
                        <p class="tile-title">Estrutura básica termida</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="timeline-item">
            <div class="timeline-left">
                <a class="timeline-icon icon-lg" href="#">
                    <i class="icon icon-check"></i>
                </a>
            </div>
            <div class="timeline-content">
                <div class="tile">
                    <div class="tile-content">
                        <p class="tile-subtitle">Fevereiro 2020</p>
                        <p class="tile-title">Estrutura de vendas termida</p>
                        <p class="tile-title">Estrutura de comentários e avaliações termida</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="timeline-item">
            <div class="timeline-left">
                <a class="timeline-icon icon-lg" href="#">
                    <i class="icon icon-stop"></i>
                </a>
            </div>
            <div class="timeline-content">
                <div class="tile">
                    <div class="tile-content">
                        <p class="tile-subtitle">Março 2020 - Abril 2020</p>
                        <p class="tile-title">Sem entregas</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="timeline-item">
            <div class="timeline-left">
                <a class="timeline-icon icon-lg" href="#">
                    <i class="icon icon-check"></i>
                </a>
            </div>
            <div class="timeline-content">
                <div class="tile">
                    <div class="tile-content">
                        <p class="tile-subtitle">Maio 2020</p>
                        <p class="tile-title">Ajustes finais</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="timeline-item">
            <div class="timeline-left">
                <a class="timeline-icon icon-lg" href="#">
                    <i class="icon icon-check"></i>
                </a>
            </div>
            <div class="timeline-content">
                <div class="tile">
                    <div class="tile-content">
                        <p class="tile-subtitle">Junho 2020</p>
                        <p class="tile-title">Apresentação</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
