.timeline-margin {
    margin: 12px 40px !important;
}

.card-limited {
    max-width: 300px;
    min-width: 300px;
    min-height: 220px;
}

.card-centered-image {
    float: none;
    margin-left: auto;
    margin-right: auto;
    display: table;
}

.avatar {
    background: #FFF !important;
}

.product-frame {
    border: none;
    height: 400px;
    width: 100%;
}

.modal-container-custom {
    min-height: 500px !important;
}

.modal-header-custom {
    margin-top: 8px;
}

.tile-title {
    margin-bottom: 0px !important;
}
